#thumb_main{
	width: 500px;
	min-height:100px;
	position: relative;
	float: left;
	background-color: #eee;
}

.form-horizontal .control-label{padding-top: 5px;}
.smpic{
	margin-left: 10px;
	position: relative;
	overflow: hidden;
	float: left;
	background-color: #eee
 /*border: 5px solid #6f4da2;*/;
}
.image_dispaly{
	display: none;
}
.mr10{
	margin: 5px 5px 5px 0;
}